name: Ceedling Unit Tests

on:
  pull_request:
  workflow_dispatch:

jobs:
  unit_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.1'

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Install Ceedling
        run: gem install ceedling

      - name: Run Ceedling tests
        run: ceedling test

